@keyframes pulse {
  0%,
  100% {
    box-shadow: 0 0 5px #ffffff;
  }
  50% {
    box-shadow: 0 0 20px #ffffff;
  }
}

.pulse-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #90b0ff;
  color: #ffffff;
  animation: pulse 2s infinite;
}

@keyframes borderc {
  0%,
  100% {
    border-color: #ffffff;
  }
  50% {
    border-color: rgb(82, 90, 13);
  }
}

.borderc-div {
  padding: 10px;
  border-width: 3px;
  border-radius: 10px;
  animation: borderc 2s infinite;
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(/_nuxt/Poppins-Regular.a2c1dd01.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(/_nuxt/Poppins-Medium.54cedf5d.woff2) format("woff2");
}
.wrapper[data-v-82da5e0f] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .wrapper[data-v-82da5e0f] {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .wrapper[data-v-82da5e0f] {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 1023px) {
  .wrapper[data-v-82da5e0f] {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 767px) {
  .wrapper[data-v-82da5e0f] {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 419px) {
  .wrapper[data-v-82da5e0f] {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.scroll-wrapper[data-v-82da5e0f] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .scroll-wrapper[data-v-82da5e0f] {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .scroll-wrapper[data-v-82da5e0f] {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1023px) {
  .scroll-wrapper[data-v-82da5e0f] {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 767px) {
  .scroll-wrapper[data-v-82da5e0f] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 419px) {
  .scroll-wrapper[data-v-82da5e0f] {
    padding-left: 12px;
    padding-right: 12px;
  }
}
#root[data-v-82da5e0f] {
  overflow: hidden;
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(/_nuxt/Poppins-Regular.a2c1dd01.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(/_nuxt/Poppins-Medium.54cedf5d.woff2) format("woff2");
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .wrapper {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .wrapper {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 1023px) {
  .wrapper {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 419px) {
  .wrapper {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.scroll-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .scroll-wrapper {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .scroll-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1023px) {
  .scroll-wrapper {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 767px) {
  .scroll-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 419px) {
  .scroll-wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
}
:root {
  --header-height: 80px;
}
@media (max-width: 1023px) {
  :root {
    --header-height: 72px;
  }
}
@media (max-width: 767px) {
  :root {
    --header-height: 56px;
  }
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(/_nuxt/Poppins-Regular.a2c1dd01.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(/_nuxt/Poppins-Medium.54cedf5d.woff2) format("woff2");
}
.wrapper[data-v-aff382e3] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .wrapper[data-v-aff382e3] {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .wrapper[data-v-aff382e3] {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 1023px) {
  .wrapper[data-v-aff382e3] {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 767px) {
  .wrapper[data-v-aff382e3] {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 419px) {
  .wrapper[data-v-aff382e3] {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.scroll-wrapper[data-v-aff382e3] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .scroll-wrapper[data-v-aff382e3] {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .scroll-wrapper[data-v-aff382e3] {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1023px) {
  .scroll-wrapper[data-v-aff382e3] {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 767px) {
  .scroll-wrapper[data-v-aff382e3] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 419px) {
  .scroll-wrapper[data-v-aff382e3] {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.header-block[data-v-aff382e3] {
  position: relative;
}
@media (max-width: 1023px) {
  .header-block .desktop-header[data-v-aff382e3] {
    display: none;
  }
}
.header-block .mobile-header[data-v-aff382e3] {
  display: none;
}
@media (max-width: 1023px) {
  .header-block .mobile-header[data-v-aff382e3] {
    display: block;
  }
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(/_nuxt/Poppins-Regular.a2c1dd01.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(/_nuxt/Poppins-Medium.54cedf5d.woff2) format("woff2");
}
.wrapper[data-v-ed31b861] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .wrapper[data-v-ed31b861] {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .wrapper[data-v-ed31b861] {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 1023px) {
  .wrapper[data-v-ed31b861] {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 767px) {
  .wrapper[data-v-ed31b861] {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 419px) {
  .wrapper[data-v-ed31b861] {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.scroll-wrapper[data-v-ed31b861] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .scroll-wrapper[data-v-ed31b861] {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .scroll-wrapper[data-v-ed31b861] {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1023px) {
  .scroll-wrapper[data-v-ed31b861] {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 767px) {
  .scroll-wrapper[data-v-ed31b861] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 419px) {
  .scroll-wrapper[data-v-ed31b861] {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.container[data-v-ed31b861] {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: linear-gradient(180deg, #0c0e12, rgba(12, 14, 18, 0.1));
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 101;
}
.container .header-links-component[data-v-ed31b861] {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: var(--header-height);
}
.container .header-links-component .logo[data-v-ed31b861] {
  height: 36px;
}
.container .header-links-component .links[data-v-ed31b861] {
  display: flex;
  gap: 40px;
}
.container .header-links-component .social-compose[data-v-ed31b861] {
  margin-left: auto;
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(/_nuxt/Poppins-Regular.a2c1dd01.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(/_nuxt/Poppins-Medium.54cedf5d.woff2) format("woff2");
}
.wrapper[data-v-10402e2e] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .wrapper[data-v-10402e2e] {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .wrapper[data-v-10402e2e] {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 1023px) {
  .wrapper[data-v-10402e2e] {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 767px) {
  .wrapper[data-v-10402e2e] {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 419px) {
  .wrapper[data-v-10402e2e] {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.scroll-wrapper[data-v-10402e2e] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .scroll-wrapper[data-v-10402e2e] {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .scroll-wrapper[data-v-10402e2e] {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1023px) {
  .scroll-wrapper[data-v-10402e2e] {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 767px) {
  .scroll-wrapper[data-v-10402e2e] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 419px) {
  .scroll-wrapper[data-v-10402e2e] {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.logo-component[data-v-10402e2e] {
  align-content: center;
  display: inline-flex;
  height: 100%;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.logo-component.pointer[data-v-10402e2e] {
  cursor: pointer;
}
.logo-component img[data-v-10402e2e] {
  height: 100%;
}
.logo-component .logo-hover[data-v-10402e2e] {
  opacity: 0;
  position: absolute;
  transition: all 0.2s ease;
  transition-property: opacity;
  will-change: opacity;
}
.logo-component:hover .logo-hover[data-v-10402e2e] {
  opacity: 1;
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(/_nuxt/Poppins-Regular.a2c1dd01.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(/_nuxt/Poppins-Medium.54cedf5d.woff2) format("woff2");
}
.wrapper[data-v-c9891cd2] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .wrapper[data-v-c9891cd2] {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .wrapper[data-v-c9891cd2] {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 1023px) {
  .wrapper[data-v-c9891cd2] {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 767px) {
  .wrapper[data-v-c9891cd2] {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 419px) {
  .wrapper[data-v-c9891cd2] {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.scroll-wrapper[data-v-c9891cd2] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .scroll-wrapper[data-v-c9891cd2] {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .scroll-wrapper[data-v-c9891cd2] {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1023px) {
  .scroll-wrapper[data-v-c9891cd2] {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 767px) {
  .scroll-wrapper[data-v-c9891cd2] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 419px) {
  .scroll-wrapper[data-v-c9891cd2] {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.header-link[data-v-c9891cd2] {
  position: relative;
}
.header-link .link-head[data-v-c9891cd2] {
  align-items: center;
  display: flex;
  gap: 4px;
  transition: all 0.2s ease;
  transition-property: color;
  will-change: color;
}
.header-link .link-head .icon[data-v-c9891cd2] {
  height: 20px;
  transition: all 0.2s ease;
  transition-property: transform;
  width: 20px;
  will-change: transform;
}
.header-link .link-head .icon[data-v-c9891cd2] svg path {
  fill-opacity: 1;
  transition: all 0.2s ease;
  transition-property: fill;
  will-change: fill;
}
.header-link .link-head.is-link[data-v-c9891cd2] {
  cursor: pointer;
}
.header-link .link-head.is-link a[data-v-c9891cd2] {
  transition: all 0.2s ease;
  transition-property: color;
  will-change: color;
}
.header-link .link-head.is-link:hover a[data-v-c9891cd2] {
  color: #15cc97;
}
.header-link .link-head.is-link:hover .icon[data-v-c9891cd2] svg path {
  fill: #15cc97;
}
.header-link .dropdown-wrapper[data-v-c9891cd2] {
  left: 50%;
  max-height: 0;
  overflow: hidden;
  padding-top: 16px;
  position: absolute;
  transform: translateX(-50%);
  transition: max-height 0.75s cubic-bezier(0, 1, 0, 1);
}
.header-link .dropdown-wrapper .dropdown[data-v-c9891cd2] {
  background-color: #171717;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
}
.header-link .dropdown-wrapper .dropdown .link[data-v-c9891cd2] {
  align-items: center;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  gap: 6px;
  line-height: 130%;
  transition: all 0.2s ease;
  transition-property: color;
  white-space: nowrap;
  will-change: color;
}
@media (max-width: 767px) {
  .header-link .dropdown-wrapper .dropdown .link[data-v-c9891cd2] {
    font-size: 13px;
    font-weight: 400;
    line-height: 130%;
  }
}
.header-link .dropdown-wrapper .dropdown .link .icon[data-v-c9891cd2] {
  height: 16px;
  width: 16px;
}
.header-link .dropdown-wrapper .dropdown .link .icon[data-v-c9891cd2] svg path {
  transition: all 0.2s ease;
  transition-property: fill, fill-opacity;
  will-change: fill, fill-opacity;
}
.header-link .dropdown-wrapper .dropdown .link[data-v-c9891cd2]:hover {
  color: #15cc97;
}
.header-link
  .dropdown-wrapper
  .dropdown
  .link:hover
  .icon[data-v-c9891cd2]
  svg
  path {
  fill: #15cc97;
  fill-opacity: 1;
}
.header-link:hover .link-head .icon.is-dropdown[data-v-c9891cd2] {
  transform: rotate(-180deg);
}
.header-link:hover .dropdown-wrapper[data-v-c9891cd2] {
  max-height: 500px;
  transition: max-height 1s ease;
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(/_nuxt/Poppins-Regular.a2c1dd01.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(/_nuxt/Poppins-Medium.54cedf5d.woff2) format("woff2");
}
.wrapper[data-v-58e5307b] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .wrapper[data-v-58e5307b] {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .wrapper[data-v-58e5307b] {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 1023px) {
  .wrapper[data-v-58e5307b] {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 767px) {
  .wrapper[data-v-58e5307b] {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 419px) {
  .wrapper[data-v-58e5307b] {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.scroll-wrapper[data-v-58e5307b] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .scroll-wrapper[data-v-58e5307b] {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .scroll-wrapper[data-v-58e5307b] {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1023px) {
  .scroll-wrapper[data-v-58e5307b] {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 767px) {
  .scroll-wrapper[data-v-58e5307b] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 419px) {
  .scroll-wrapper[data-v-58e5307b] {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.kit-link[data-v-58e5307b] {
  display: inline-block;
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(/_nuxt/Poppins-Regular.a2c1dd01.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(/_nuxt/Poppins-Medium.54cedf5d.woff2) format("woff2");
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .wrapper {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .wrapper {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 1023px) {
  .wrapper {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 419px) {
  .wrapper {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.scroll-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .scroll-wrapper {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .scroll-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1023px) {
  .scroll-wrapper {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 767px) {
  .scroll-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 419px) {
  .scroll-wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.kit-icon {
  display: inline-flex;
}
.kit-icon.is-fill {
  height: 100%;
  width: 100%;
}
.kit-icon.is-fill svg {
  height: 100%;
  width: auto;
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(/_nuxt/Poppins-Regular.a2c1dd01.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(/_nuxt/Poppins-Medium.54cedf5d.woff2) format("woff2");
}
.wrapper[data-v-465bfb6b] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .wrapper[data-v-465bfb6b] {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .wrapper[data-v-465bfb6b] {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 1023px) {
  .wrapper[data-v-465bfb6b] {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 767px) {
  .wrapper[data-v-465bfb6b] {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 419px) {
  .wrapper[data-v-465bfb6b] {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.scroll-wrapper[data-v-465bfb6b] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .scroll-wrapper[data-v-465bfb6b] {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .scroll-wrapper[data-v-465bfb6b] {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1023px) {
  .scroll-wrapper[data-v-465bfb6b] {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 767px) {
  .scroll-wrapper[data-v-465bfb6b] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 419px) {
  .scroll-wrapper[data-v-465bfb6b] {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.social-compose[data-v-465bfb6b] {
  display: flex;
  gap: 16px;
}
.social-compose .social-media-item[data-v-465bfb6b] {
  transition: all 0.2s ease;
  transition-property: background;
  will-change: background;
}
.social-compose .social-media-item .icon[data-v-465bfb6b] {
  height: 28px;
  width: 28px;
}
@media (max-width: 767px) {
  .social-compose .social-media-item .icon[data-v-465bfb6b] {
    height: 24px;
    width: 24px;
  }
}
.social-compose .social-media-item .icon[data-v-465bfb6b] svg path {
  fill: #eee;
  fill-opacity: 1;
}
.social-compose.is-community .social-media-item[data-v-465bfb6b],
.social-compose.is-medium .social-media-item[data-v-465bfb6b] {
  background-color: hsla(0, 0%, 100%, 0.03);
  border: 1px solid hsla(0, 0%, 100%, 0.078);
}
.social-compose.is-community .social-media-item[data-v-465bfb6b]:hover,
.social-compose.is-medium .social-media-item[data-v-465bfb6b]:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
}
.social-compose.is-medium .social-media-item[data-v-465bfb6b] {
  border: none;
  border-radius: 8px;
  padding: 8px;
}
.social-compose.is-medium .social-media-item .icon[data-v-465bfb6b] {
  height: 24px;
  width: 24px;
}
.social-compose.is-community[data-v-465bfb6b] {
  gap: 12px;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .social-compose.is-community[data-v-465bfb6b] {
    gap: 8px;
  }
}
.social-compose.is-community .social-media-item[data-v-465bfb6b] {
  align-items: center;
  border-radius: 12px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 15px;
}
@media (max-width: 767px) {
  .social-compose.is-community .social-media-item[data-v-465bfb6b] {
    padding: 13px 0;
  }
}
.social-compose.is-community .social-media-item .icon[data-v-465bfb6b] {
  height: 32px;
  width: 32px;
}
@media (max-width: 767px) {
  .social-compose.is-community .social-media-item .icon[data-v-465bfb6b] {
    height: 28px;
    width: 28px;
  }
}
.social-compose.is-community .social-media-item .tooltip[data-v-465bfb6b] {
  overflow: hidden;
  transition: all 0.2s ease;
  transition-property: width;
  will-change: width;
}
@media (max-width: 450px) {
  .social-compose.is-community .social-media-item .tooltip[data-v-465bfb6b] {
    display: none;
  }
}
.social-compose.is-community .social-media-item .tooltip span[data-v-465bfb6b] {
  margin-left: 12px;
}
.social-compose.is-community
  .social-media-item:not(:hover)
  .tooltip[data-v-465bfb6b] {
  width: 0 !important;
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(/_nuxt/Poppins-Regular.a2c1dd01.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(/_nuxt/Poppins-Medium.54cedf5d.woff2) format("woff2");
}
.wrapper[data-v-1e49e76c] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .wrapper[data-v-1e49e76c] {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .wrapper[data-v-1e49e76c] {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 1023px) {
  .wrapper[data-v-1e49e76c] {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 767px) {
  .wrapper[data-v-1e49e76c] {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 419px) {
  .wrapper[data-v-1e49e76c] {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.scroll-wrapper[data-v-1e49e76c] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .scroll-wrapper[data-v-1e49e76c] {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .scroll-wrapper[data-v-1e49e76c] {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1023px) {
  .scroll-wrapper[data-v-1e49e76c] {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 767px) {
  .scroll-wrapper[data-v-1e49e76c] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 419px) {
  .scroll-wrapper[data-v-1e49e76c] {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.mobile-header .header-top-wrapper[data-v-1e49e76c] {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background-color: #0d0d0d;
  height: var(--header-height);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.2s ease;
  transition-property: background;
  will-change: background;
  z-index: 101;
}
.mobile-header .header-top-wrapper.is-opacity[data-v-1e49e76c] {
  background-color: transparent;
}
.mobile-header .header-top-wrapper .top-compose[data-v-1e49e76c] {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.mobile-header .header-top-wrapper .top-compose .logo[data-v-1e49e76c] {
  height: 32px;
}
@media (max-width: 767px) {
  .mobile-header .header-top-wrapper .top-compose .logo[data-v-1e49e76c] {
    height: 24px;
  }
}
.mobile-header .modal-wrapper[data-v-1e49e76c] {
  background-color: #0d0d0d;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: var(--header-height);
  width: 100%;
  z-index: 101;
}
.mobile-header .modal-wrapper .modal-content[data-v-1e49e76c] {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.mobile-header .modal-wrapper .modal-content .link[data-v-1e49e76c] {
  font-size: 24px;
  font-weight: 500;
  line-height: 125%;
  margin-top: 24px;
}
@media (max-width: 767px) {
  .mobile-header .modal-wrapper .modal-content .link[data-v-1e49e76c] {
    font-size: 22px;
    font-weight: 500;
    line-height: 120%;
  }
}
.mobile-header
  .modal-wrapper
  .modal-content
  .link[data-v-1e49e76c]:first-child {
  margin-top: 0;
}
.mobile-header .modal-wrapper .modal-content .link[data-v-1e49e76c] .icon {
  height: 24px;
  width: 24px;
}
.mobile-header .modal-wrapper .modal-content .social-compose[data-v-1e49e76c] {
  margin-top: 40px;
}
.mobile-header .mobile-header-transition-enter-active[data-v-1e49e76c],
.mobile-header .mobile-header-transition-leave-active[data-v-1e49e76c] {
  transition: all 0.2s ease;
  transition-property: transform;
  will-change: transform;
}
.mobile-header .mobile-header-transition-enter-from[data-v-1e49e76c],
.mobile-header .mobile-header-transition-leave-to[data-v-1e49e76c] {
  transform: translateX(100%);
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(/_nuxt/Poppins-Regular.a2c1dd01.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(/_nuxt/Poppins-Medium.54cedf5d.woff2) format("woff2");
}
.wrapper[data-v-42b5453a] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .wrapper[data-v-42b5453a] {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .wrapper[data-v-42b5453a] {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 1023px) {
  .wrapper[data-v-42b5453a] {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 767px) {
  .wrapper[data-v-42b5453a] {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 419px) {
  .wrapper[data-v-42b5453a] {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.scroll-wrapper[data-v-42b5453a] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .scroll-wrapper[data-v-42b5453a] {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .scroll-wrapper[data-v-42b5453a] {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1023px) {
  .scroll-wrapper[data-v-42b5453a] {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 767px) {
  .scroll-wrapper[data-v-42b5453a] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 419px) {
  .scroll-wrapper[data-v-42b5453a] {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.menu-hamburger-wrapper[data-v-42b5453a] {
  cursor: pointer;
  height: 32px;
  padding: 4px;
  width: 32px;
}
@media (max-width: 767px) {
  .menu-hamburger-wrapper[data-v-42b5453a] {
    padding: 6.6px 4px;
  }
}
.menu-hamburger-wrapper .hamburger-compose[data-v-42b5453a] {
  height: 100%;
  position: relative;
  width: 100%;
}
.menu-hamburger-wrapper .hamburger-compose span[data-v-42b5453a] {
  background-color: #eee;
  display: block;
  height: 1.5px;
  position: absolute;
  right: 0;
  transition: all 0.2s ease;
  transition-property: transform, opacity, width;
  will-change: transform, opacity, width;
}
.menu-hamburger-wrapper .hamburger-compose span[data-v-42b5453a]:first-child {
  top: 0;
  transform-origin: top right;
}
.menu-hamburger-wrapper .hamburger-compose span[data-v-42b5453a]:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.menu-hamburger-wrapper .hamburger-compose span[data-v-42b5453a]:nth-child(3) {
  top: 100%;
  transform: translateY(-100%);
  transform-origin: bottom right;
}
.menu-hamburger-wrapper .hamburger-compose span[data-v-42b5453a]:first-child,
.menu-hamburger-wrapper .hamburger-compose span[data-v-42b5453a]:nth-child(3) {
  width: calc(100% - 9.5px);
}
@media (max-width: 767px) {
  .menu-hamburger-wrapper .hamburger-compose span[data-v-42b5453a]:first-child,
  .menu-hamburger-wrapper
    .hamburger-compose
    span[data-v-42b5453a]:nth-child(3) {
    width: calc(100% - 5px);
  }
}
.menu-hamburger-wrapper
  .hamburger-compose.is-active
  span[data-v-42b5453a]:first-child {
  transform: rotate(-45deg);
}
.menu-hamburger-wrapper
  .hamburger-compose.is-active
  span[data-v-42b5453a]:nth-child(2) {
  opacity: 0;
  transform: translateY(-50%) translateX(100%);
}
.menu-hamburger-wrapper
  .hamburger-compose.is-active
  span[data-v-42b5453a]:nth-child(3) {
  transform: translateY(-100%) rotate(45deg);
}
.menu-hamburger-wrapper
  .hamburger-compose.is-active
  span[data-v-42b5453a]:first-child,
.menu-hamburger-wrapper
  .hamburger-compose.is-active
  span[data-v-42b5453a]:nth-child(3) {
  width: 32px;
}
@media (max-width: 767px) {
  .menu-hamburger-wrapper
    .hamburger-compose.is-active
    span[data-v-42b5453a]:first-child,
  .menu-hamburger-wrapper
    .hamburger-compose.is-active
    span[data-v-42b5453a]:nth-child(3) {
    width: 25px;
  }
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(/_nuxt/Poppins-Regular.a2c1dd01.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(/_nuxt/Poppins-Medium.54cedf5d.woff2) format("woff2");
}
.wrapper[data-v-c951ae60] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .wrapper[data-v-c951ae60] {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .wrapper[data-v-c951ae60] {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 1023px) {
  .wrapper[data-v-c951ae60] {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 767px) {
  .wrapper[data-v-c951ae60] {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 419px) {
  .wrapper[data-v-c951ae60] {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.scroll-wrapper[data-v-c951ae60] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .scroll-wrapper[data-v-c951ae60] {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .scroll-wrapper[data-v-c951ae60] {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1023px) {
  .scroll-wrapper[data-v-c951ae60] {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 767px) {
  .scroll-wrapper[data-v-c951ae60] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 419px) {
  .scroll-wrapper[data-v-c951ae60] {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.kit-spot[data-v-c951ae60] {
  background-image: url(/_nuxt/ellipse.c2bb3973.svg);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1000px;
  pointer-events: none;
  position: absolute;
  width: 500px;
  z-index: -2;
}
@media (max-width: 1555px) {
  .kit-spot[data-v-c951ae60] {
    height: 800px;
    width: 400px;
  }
}
@media (max-width: 767px) {
  .kit-spot[data-v-c951ae60] {
    height: 600px;
    width: 300px;
  }
}
.kit-spot.top[data-v-c951ae60] {
  top: 0;
  transform: translateY(-50%);
}
.kit-spot.bottom[data-v-c951ae60] {
  bottom: 0;
  transform: translateY(50%);
}
.kit-spot.left[data-v-c951ae60] {
  left: 0;
}
.kit-spot.right[data-v-c951ae60] {
  right: 0;
  transform: rotate(180deg);
}
.kit-spot.right.bottom[data-v-c951ae60] {
  transform: translateY(50%) rotate(180deg);
}
.kit-spot.right.top[data-v-c951ae60] {
  transform: translateY(-50%) rotate(180deg);
}
.kit-spot.footer[data-v-c951ae60] {
  background-image: url(/_nuxt/footer.dd98d1e5.svg);
  background-position: bottom;
  background-size: cover;
  bottom: 0;
  height: 1000px;
  left: 0;
  right: 0;
  width: 100%;
}
@media (max-width: 1555px) {
  .kit-spot.footer[data-v-c951ae60] {
    background-image: url(/_nuxt/footer-320.d1f92bb1.svg);
    background-size: cover;
    height: 600px;
  }
}
@media (max-width: 767px) {
  .kit-spot.footer[data-v-c951ae60] {
    height: 320px;
  }
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(/_nuxt/Poppins-Regular.a2c1dd01.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(/_nuxt/Poppins-Medium.54cedf5d.woff2) format("woff2");
}
.wrapper[data-v-b87b2b90] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .wrapper[data-v-b87b2b90] {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .wrapper[data-v-b87b2b90] {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 1023px) {
  .wrapper[data-v-b87b2b90] {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 767px) {
  .wrapper[data-v-b87b2b90] {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 419px) {
  .wrapper[data-v-b87b2b90] {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.scroll-wrapper[data-v-b87b2b90] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .scroll-wrapper[data-v-b87b2b90] {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .scroll-wrapper[data-v-b87b2b90] {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1023px) {
  .scroll-wrapper[data-v-b87b2b90] {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 767px) {
  .scroll-wrapper[data-v-b87b2b90] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 419px) {
  .scroll-wrapper[data-v-b87b2b90] {
    padding-left: 12px;
    padding-right: 12px;
  }
}
#index-page .publications-margin[data-v-b87b2b90] {
  margin-top: 150px;
}
@media (max-width: 1555px) {
  #index-page .publications-margin[data-v-b87b2b90] {
    margin-top: 110px;
  }
}
@media (max-width: 1199px) {
  #index-page .publications-margin[data-v-b87b2b90] {
    margin-top: 70px;
  }
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(/_nuxt/Poppins-Regular.a2c1dd01.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(/_nuxt/Poppins-Medium.54cedf5d.woff2) format("woff2");
}
.wrapper[data-v-3a846a5e] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .wrapper[data-v-3a846a5e] {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .wrapper[data-v-3a846a5e] {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 1023px) {
  .wrapper[data-v-3a846a5e] {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 767px) {
  .wrapper[data-v-3a846a5e] {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 419px) {
  .wrapper[data-v-3a846a5e] {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.scroll-wrapper[data-v-3a846a5e] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .scroll-wrapper[data-v-3a846a5e] {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .scroll-wrapper[data-v-3a846a5e] {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1023px) {
  .scroll-wrapper[data-v-3a846a5e] {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 767px) {
  .scroll-wrapper[data-v-3a846a5e] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 419px) {
  .scroll-wrapper[data-v-3a846a5e] {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.footer-block[data-v-3a846a5e] {
  padding-bottom: 40px;
  position: relative;
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(/_nuxt/Poppins-Regular.a2c1dd01.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(/_nuxt/Poppins-Medium.54cedf5d.woff2) format("woff2");
}
.wrapper[data-v-3bb034d2] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .wrapper[data-v-3bb034d2] {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .wrapper[data-v-3bb034d2] {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 1023px) {
  .wrapper[data-v-3bb034d2] {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 767px) {
  .wrapper[data-v-3bb034d2] {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 419px) {
  .wrapper[data-v-3bb034d2] {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.scroll-wrapper[data-v-3bb034d2] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .scroll-wrapper[data-v-3bb034d2] {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .scroll-wrapper[data-v-3bb034d2] {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1023px) {
  .scroll-wrapper[data-v-3bb034d2] {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 767px) {
  .scroll-wrapper[data-v-3bb034d2] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 419px) {
  .scroll-wrapper[data-v-3bb034d2] {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.footer-desktop .footer-flex-container[data-v-3bb034d2] {
  display: flex;
  gap: 260px;
  justify-content: space-between;
}
@media (max-width: 1555px) {
  .footer-desktop .footer-flex-container[data-v-3bb034d2] {
    gap: 184px;
  }
}
@media (max-width: 1365px) {
  .footer-desktop .footer-flex-container[data-v-3bb034d2] {
    gap: 63px;
  }
}
@media (max-width: 1199px) {
  .footer-desktop .footer-flex-container[data-v-3bb034d2] {
    gap: 120px;
  }
}
@media (max-width: 1023px) {
  .footer-desktop .footer-flex-container[data-v-3bb034d2] {
    gap: 48px;
  }
}
.footer-desktop .footer-flex-container .venom-information[data-v-3bb034d2] {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 32px;
  width: 480px;
}
@media (max-width: 1199px) {
  .footer-desktop .footer-flex-container .venom-information[data-v-3bb034d2] {
    width: 360px;
  }
}
@media (max-width: 1023px) {
  .footer-desktop .footer-flex-container .venom-information[data-v-3bb034d2] {
    width: 184px;
  }
}
.footer-desktop
  .footer-flex-container
  .venom-information
  .logo[data-v-3bb034d2] {
  height: 38px;
}
@media (max-width: 1023px) {
  .footer-desktop
    .footer-flex-container
    .venom-information
    .disclaimer[data-v-3bb034d2] {
    display: none;
  }
}
.footer-desktop
  .footer-flex-container
  .venom-information
  .socials[data-v-3bb034d2] {
  flex-wrap: wrap;
}
.footer-desktop .footer-flex-container .columns-wrapper[data-v-3bb034d2] {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-desktop
  .footer-flex-container
  .columns-wrapper
  .column
  .column-title[data-v-3bb034d2] {
  font-size: 24px;
  font-weight: 500;
  line-height: 125%;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .footer-desktop
    .footer-flex-container
    .columns-wrapper
    .column
    .column-title[data-v-3bb034d2] {
    font-size: 22px;
    font-weight: 500;
    line-height: 120%;
  }
}
.footer-desktop
  .footer-flex-container
  .columns-wrapper
  .column
  .column-links
  .link[data-v-3bb034d2] {
  margin-top: 16px;
}
.footer-desktop
  .footer-flex-container
  .columns-wrapper
  .column
  .column-links
  .link[data-v-3bb034d2]:first-child {
  margin-top: 0;
}
.footer-desktop .bottom-disclaimer[data-v-3bb034d2] {
  display: none;
  margin-top: 32px;
  text-align: center;
}
@media (max-width: 1023px) {
  .footer-desktop .bottom-disclaimer[data-v-3bb034d2] {
    display: block;
  }
}
.footer-desktop .copyright[data-v-3bb034d2] {
  margin-top: 40px;
  text-align: center;
}
@media (max-width: 1023px) {
  .footer-desktop .copyright[data-v-3bb034d2] {
    margin-top: 32px;
  }
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(/_nuxt/Poppins-Regular.a2c1dd01.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(/_nuxt/Poppins-Medium.54cedf5d.woff2) format("woff2");
}
.wrapper[data-v-79c3f820] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .wrapper[data-v-79c3f820] {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .wrapper[data-v-79c3f820] {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 1023px) {
  .wrapper[data-v-79c3f820] {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 767px) {
  .wrapper[data-v-79c3f820] {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 419px) {
  .wrapper[data-v-79c3f820] {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.scroll-wrapper[data-v-79c3f820] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .scroll-wrapper[data-v-79c3f820] {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .scroll-wrapper[data-v-79c3f820] {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1023px) {
  .scroll-wrapper[data-v-79c3f820] {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 767px) {
  .scroll-wrapper[data-v-79c3f820] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 419px) {
  .scroll-wrapper[data-v-79c3f820] {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.footer-disclaimer[data-v-79c3f820] {
  color: #9fa0a2;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}
@media (max-width: 767px) {
  .footer-disclaimer[data-v-79c3f820] {
    font-size: 13px;
    font-weight: 400;
    line-height: 130%;
  }
}
.footer-disclaimer .link[data-v-79c3f820] {
  color: #9fa0a2;
  text-decoration: underline;
  transition: all 0.2s ease;
  transition-property: color;
  will-change: color;
}
.footer-disclaimer .link[data-v-79c3f820]:hover {
  color: #eee;
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(/_nuxt/Poppins-Regular.a2c1dd01.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(/_nuxt/Poppins-Medium.54cedf5d.woff2) format("woff2");
}
.wrapper[data-v-03a024e4] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .wrapper[data-v-03a024e4] {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .wrapper[data-v-03a024e4] {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 1023px) {
  .wrapper[data-v-03a024e4] {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 767px) {
  .wrapper[data-v-03a024e4] {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 419px) {
  .wrapper[data-v-03a024e4] {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.scroll-wrapper[data-v-03a024e4] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .scroll-wrapper[data-v-03a024e4] {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .scroll-wrapper[data-v-03a024e4] {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1023px) {
  .scroll-wrapper[data-v-03a024e4] {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 767px) {
  .scroll-wrapper[data-v-03a024e4] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 419px) {
  .scroll-wrapper[data-v-03a024e4] {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.footer-link[data-v-03a024e4] {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 30px;
}
.footer-link .text[data-v-03a024e4] {
  font-size: 18px;
  font-weight: 500;
  font-weight: 400;
  line-height: 120%;
  transition: all 0.2s ease;
  transition-property: color;
  will-change: color;
}
@media (max-width: 767px) {
  .footer-link .text[data-v-03a024e4] {
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
  }
}
.footer-link .icon[data-v-03a024e4] {
  height: 20px;
  width: 20px;
}
.footer-link .icon[data-v-03a024e4] svg path {
  transition: all 0.2s ease;
  transition-property: fill, fill-opacity;
  will-change: fill, fill-opacity;
}
.footer-link:hover .text[data-v-03a024e4] {
  color: #15cc97;
}
.footer-link:hover .icon[data-v-03a024e4] svg path {
  fill: #15cc97;
  fill-opacity: 1;
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(/_nuxt/Poppins-Regular.a2c1dd01.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(/_nuxt/Poppins-Medium.54cedf5d.woff2) format("woff2");
}
.wrapper[data-v-a6d462e3] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .wrapper[data-v-a6d462e3] {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .wrapper[data-v-a6d462e3] {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 1023px) {
  .wrapper[data-v-a6d462e3] {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 767px) {
  .wrapper[data-v-a6d462e3] {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 419px) {
  .wrapper[data-v-a6d462e3] {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.scroll-wrapper[data-v-a6d462e3] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .scroll-wrapper[data-v-a6d462e3] {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .scroll-wrapper[data-v-a6d462e3] {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1023px) {
  .scroll-wrapper[data-v-a6d462e3] {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 767px) {
  .scroll-wrapper[data-v-a6d462e3] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 419px) {
  .scroll-wrapper[data-v-a6d462e3] {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.footer-copyright[data-v-a6d462e3] {
  color: #9fa0a2;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}
@media (max-width: 767px) {
  .footer-copyright[data-v-a6d462e3] {
    font-size: 13px;
    font-weight: 400;
    line-height: 130%;
  }
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  src: url(/_nuxt/Poppins-Regular.a2c1dd01.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url(/_nuxt/Poppins-Medium.54cedf5d.woff2) format("woff2");
}
.wrapper[data-v-c3851004] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .wrapper[data-v-c3851004] {
    margin-left: 60px;
    margin-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .wrapper[data-v-c3851004] {
    margin-left: 40px;
    margin-right: 40px;
  }
}
@media (max-width: 1023px) {
  .wrapper[data-v-c3851004] {
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 767px) {
  .wrapper[data-v-c3851004] {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 419px) {
  .wrapper[data-v-c3851004] {
    margin-left: 12px;
    margin-right: 12px;
  }
}
.scroll-wrapper[data-v-c3851004] {
  margin-left: auto;
  margin-right: auto;
  max-width: 1396px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: calc(100% - 160px);
}
@media (max-width: 1365px) {
  .scroll-wrapper[data-v-c3851004] {
    max-width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
  }
}
@media (max-width: 1199px) {
  .scroll-wrapper[data-v-c3851004] {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1023px) {
  .scroll-wrapper[data-v-c3851004] {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (max-width: 767px) {
  .scroll-wrapper[data-v-c3851004] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 419px) {
  .scroll-wrapper[data-v-c3851004] {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.footer-mobile .logo-socials[data-v-c3851004] {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.footer-mobile .logo-socials .logo[data-v-c3851004] {
  height: 22px;
}
.footer-mobile .column-wrapper[data-v-c3851004] {
  margin-top: 20px;
}
.footer-mobile .column-wrapper .column .column-title-control[data-v-c3851004] {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.footer-mobile
  .column-wrapper
  .column
  .column-title-control
  .title[data-v-c3851004] {
  font-size: 24px;
  font-weight: 500;
  line-height: 125%;
  padding-bottom: 16px;
  padding-top: 20px;
  transition: all 0.2s ease;
  transition-property: color;
  will-change: color;
}
@media (max-width: 767px) {
  .footer-mobile
    .column-wrapper
    .column
    .column-title-control
    .title[data-v-c3851004] {
    font-size: 22px;
    font-weight: 500;
    line-height: 120%;
  }
}
.footer-mobile
  .column-wrapper
  .column
  .column-title-control
  .icon[data-v-c3851004] {
  height: 26px;
  transition: all 0.2s ease;
  transition-duration: 0.3s;
  transition-property: transform;
  width: 26px;
  will-change: transform;
}
.footer-mobile
  .column-wrapper
  .column
  .column-title-control
  .icon[data-v-c3851004]
  svg
  path {
  transition: all 0.2s ease;
  transition-property: stroke;
  will-change: stroke;
}
.footer-mobile
  .column-wrapper
  .column
  .column-title-control.is-current
  .title[data-v-c3851004] {
  color: #9fa0a2;
}
.footer-mobile
  .column-wrapper
  .column
  .column-title-control.is-current
  .icon[data-v-c3851004] {
  transform: rotate(-180deg);
}
.footer-mobile
  .column-wrapper
  .column
  .column-title-control.is-current
  .icon[data-v-c3851004]
  svg
  path {
  stroke: #9fa0a2;
}
.footer-mobile .column-wrapper .column .column-links[data-v-c3851004] {
  margin-bottom: 20px;
}
.footer-mobile
  .column-wrapper
  .column
  .column-links
  .column-link[data-v-c3851004] {
  margin-top: 16px;
}
.footer-mobile
  .column-wrapper
  .column
  .column-links
  .column-link[data-v-c3851004]:first-child {
  margin-top: 0;
}
.footer-mobile .column-wrapper .column .divider[data-v-c3851004] {
  background-color: hsla(0, 0%, 100%, 0.078);
  height: 1px;
  margin-top: 4px;
  width: 100%;
}
.footer-mobile .legal-block[data-v-c3851004] {
  margin-top: 25px;
}
.footer-mobile .legal-block .copyright[data-v-c3851004] {
  margin-top: 12px;
}
